<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>admin</title>
</head>
<body>

<form th:action="@{/admin/add}" method="post">
    login: <input type="text" name="login"/>
    Password: <input type="text" name="password"/>
    email: <input type="text" name="email"/>
    role:
    <select name="roleIds" th:size="${roles.size()}" multiple>
        <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <br>
    <button type="submit">add</button>
</form>
<a th:href="@{/logout}">Logout</a>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>login</th>
        <th>password</th>
        <th>email</th>
        <th>roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.login}" />
        <td th:text="${user.password}" />
        <td th:text="${user.email}" />
        <td>
            <select name="roleIds" th:size="${user.role.size()}" multiple disabled>
                <option th:each="role: ${user.role}" th:value="${role.id}" th:text="${role.role}"></option>
            </select>
        </td>
        <td>
            <form th:action="@{/admin/edit}" method="get">
                <button type="submit" name="id" th:value="${user.id}">edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/delete}" method="post">
                <button type="submit" name="id" th:value="${user.id}">delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>